:root {
    --color-background: #f4f4f4;
    --color-invisible-border: var(--color-background);
    --color-text: #333;
    --color-highlight: #b5c84c;
    --color-banner-bg: #e4a393;
    --color-list-bg: #f0f0f0;
    --color-shadow: grey
}


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: 'Playfair Display', serif;
    background-color: var(--color-background);
    color: var(--color-text);
    /* overflow: hidden; */
}


/* Container for content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 1.25rem;
    position: relative;
    /* overflow: hidden; */
    margin-top: 10vh;
}

.content {
    text-align: center;
    margin: 0 auto;
}


/* Typography */
h1 {
    font-size: 6rem;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: normal;
}


.corner-vertical {
    position: absolute; /* Positions the element based on the nearest positioned ancestor */
    width: 30vh; /* Sets a fixed width for the vertical corner element */
    height: 3vw; /* Sets the height relative to the root font size */
    display: flex; /* Enables flexbox layout */
    border: 1px solid var(--color-invisible-border); /* Adds a 1px solid border */
}

.rotated-text {
    transform: rotate(0deg); /* Rotates the text by 270 degrees */
    font-size: 1.2rem; /* Sets the font size to 1.2 times the root font size */
    transform-origin: right; /* Rotates around the middle */
}

.corner-horizontal {
    position: absolute; /* Positions the element based on the nearest positioned ancestor */
    width: 30vw; /* Sets a fixed width for the horizontal corner element */
    height: 3vw; /* Sets the height relative to the root font size */
    display: flex; /* Enables flexbox layout */
    font-size: 1.2rem; /* Sets the font size to 1.2 times the root font size */
    border: 1px solid var(--color-invisible-border); /* Adds a 1px solid border */
}

/* Positioning for corner containers */
.top-left {
    top: 31vh; /* Distance from the top of the containing element */
    left: 1vw; /* Distance from the left of the containing element */
    justify-content: right; /* Centers items horizontally within the flex container */
    align-items: end; /* Centers items vertically within the flex container */
    flex-direction: column;
    justify-content: left;
    transform: rotate(270deg); /* Rotate the container by 45 degrees */
    transform-origin: top left; /* Rotate around the bottom right corner */

}

.top-right {
    top: 1vh; /* Distance from the top of the containing element */
    right: 1vw; /* Distance from the right side of the containing element */
    justify-content: right; /* Centers items horizontally within the flex container */
    align-items: start; /* Centers items vertically within the flex container */
}

.bottom-left {
    bottom: 1vh; /* Distance from the bottom of the containing element */
    left: 1vw; /* Distance from the left of the containing element */
    justify-content: left; /* Centers items horizontally within the flex container */
    align-items: end; /* Centers items vertically within the flex container */
}

.bottom-right {
    bottom: 31vh; /* Distance from the bottom of the containing element */
    right: 1vw; /* Distance from the right of the containing element */
    justify-content:end; /* Centers items horizontally within the flex container */
    align-items: start; /* Centers items vertically within the flex container */
    flex-direction: column;
    transform: rotate(270deg); /* Rotate the container by 45 degrees */
    transform-origin: bottom right; /* Rotate around the bottom right corner */
}



/* Default link style */
a {
    color: inherit; /* Uses the parent element's text color */
    text-decoration: none; /* Removes underline */
}

a:hover {
    font-style: italic; /* Italicizes text on hover */
}

/* Styles 1 */
.link-style-1 {
    color: var(--color-highlight); /* Sets the color for link style 1 */
}

.link-style-1:hover {
    font-weight: italic; /* Italicizes text on hover for link style 1 */
}

/* Style 2 */
.link-style-2 {
    color: inherit; /* Inherits the text color from the parent */
}

.link-style-2:hover {
    text-decoration: none; /* Removes underline on hover */
}

/* Button styles */
button {
    font-size: 1.2rem; /* Sets the font size for buttons */
    color: var(--color-highlight); /* Sets the text color */
    font-family: 'Playfair Display', serif; /* Sets the font for buttons */
    background: none; /* Removes the default background */
    border: none; /* Removes the default border */
    cursor: pointer; /* Changes cursor to pointer */
    margin-left: 0.3125rem; /* Adds left margin */
    transition: font-style 0.3s ease; /* Smooth transition for hover effect */
}

/* Button hover effect italic */
button:hover {
    font-style: italic; /* Italicizes text on hover */
}

.styled-list {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* No left padding since bullets are removed */
    margin: 0; /* Resets margin */
}

.styled-list li {
    padding: 0.9375rem 1.875rem; /* Sets padding for list items */
    margin: 0.9375rem 0; /* Sets margin for list items */
    background-color: var(--color-background); /* Sets a light background color for list items */
    border-left: 0.375rem solid var(--color-highlight); /* Adds a left border to list items */
    border-radius: 0.375rem; /* Rounds the corners of list items */
    font-size: 1.2rem; /* Sets the font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    text-align: left; /* Ensures text is left-aligned */
    width: 100%; /* Makes the list item wider */
    margin-left: auto; /* Centers the list item */
    margin-right: auto; /* Centers the list item */
}

/* Button styles */
.language-button {
    color: var(--color-highlight); /* Standard color for inactive languages */
    background: transparent; /* Transparent background */
    border: none; /* No border */
    cursor: pointer; /* Cursor pointer on hover */
    font-size: 1.2rem; /* Sets the font size for buttons */
    margin: 0 0.3125rem; /* Adds spacing between buttons */
}

/* Active language style */
.language-button.active {
    color: var(--color-text); /* Active language in black */
}

/* Top banner styling */
.top-banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-banner-bg);
    color: var(--color-text);
    text-align: center;
    padding: 1vh 0;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--color-shadow); /* Optional shadow */
}
@media (max-height: 32rem) or (max-width: 52rem) {
    h1 {
        font-size: 3rem; /* Reduces font size for smaller screens */
    }
}
@media (max-height: 32rem) {
    .container {
        height: 80vh; /* Reduces the height of the main container to 85% of the viewport height */
        margin-top: 20vh; /* Pushes the main content down to make space for the fixed banner */

    }

}
