:root {
    --color-background: #f4f4f4;
    --color-invisible-border: var(--color-background);
    --color-text: #333;
    --color-highlight: #b5c84c;
    --color-banner-bg: #e4a393;
    --color-list-bg: #f0f0f0;
    --color-shadow: grey;
    --vh: 1vh; /* Custom dynamic vh unit */
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: 'Playfair Display', serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Container for content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh) * 95); /* Adjusted to use dynamic vh */
    padding: 1.25rem;
    position: relative;
    margin-top: calc(var(--vh) * 5); /* Adjusted for dynamic vh */
}

.content {
    text-align: center;
    margin: 0 auto;
}

/* Typography */
h1 {
    font-size: 6rem;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: normal;
}

/* Typography */
h2 {
    font-size: 4rem;
    letter-spacing: 0.1em;
    line-height: 1.2;
    font-weight: normal;
}

/* Corner elements */
.corner-vertical {
    position: absolute;
    width: calc(var(--vh) * 30); /* Adjusted to use dynamic vh */
    height: 3vw;
    display: flex;
    border: 1px solid var(--color-invisible-border);
}

.rotated-text {
    transform: rotate(0deg);
    font-size: 1.2rem;
    transform-origin: right;
}

.corner-horizontal {
    position: absolute;
    width: 30vw;
    height: 3vw;
    display: flex;
    font-size: 1.2rem;
    border: 1px solid var(--color-invisible-border);
}

/* Positioning for corner containers */
.top-left {
    top: calc(var(--vh) * 31); /* Adjusted for dynamic vh */
    left: 1vw;
    justify-content: right;
    align-items: end;
    flex-direction: column;
    justify-content: left;
    transform: rotate(270deg);
    transform-origin: top left;
}

.top-right {
    top: calc(var(--vh) * 1); /* Adjusted for dynamic vh */
    right: 1vw;
    justify-content: right;
    align-items: start;
}

.bottom-left {
    bottom: calc(var(--vh) * 1); /* Adjusted for dynamic vh */
    left: 1vw;
    justify-content: left;
    align-items: end;
}

.bottom-right {
    bottom: calc(var(--vh) * 31); /* Adjusted for dynamic vh */
    right: 1vw;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    transform: rotate(270deg);
    transform-origin: bottom right;
}

/* Default link style */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

/* Styles 1 */
.link-style-1 {
    color: var(--color-highlight);
}

.link-style-1:hover {
    font-weight: italic;
}

/* Style 2 */
.link-style-2 {
    color: inherit;
}

.link-style-2:hover {
    text-decoration: none;
}

/* Button styles */
button {
    font-size: 1.2rem;
    color: var(--color-highlight);
    font-family: 'Playfair Display', serif;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.3125rem;
    transition: font-style 0.3s ease;
}

button:hover {
    font-style: italic;
}

.styled-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.styled-list li {
    padding: 0.9375rem 1.875rem;
    margin: 0.9375rem 0;
    background-color: var(--color-background);
    border-left: 0.375rem solid var(--color-highlight);
    border-radius: 0.375rem;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Language button styles */
.language-button {
    color: var(--color-highlight);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.3125rem;
}

.language-button.active {
    color: var(--color-text);
}

/* Top banner styling */
.top-banner {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-banner-bg);
    color: var(--color-text);
    text-align: center;
    padding: calc(var(--vh) * 1) 0; /* Adjusted for dynamic vh */
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--color-shadow);
}

/* Media queries for smaller screens */
@media (max-height: 38rem) or (max-width: 38rem) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-height: 32rem) {
    .container {
        height: auto;
        min-height: calc(var(--vh) * 75); /* Adjusted for dynamic vh */
        margin-top: calc(var(--vh) * 20); /* Adjusted for dynamic vh */
        padding-bottom: calc(var(--vh) * 5); /* Adjusted for dynamic vh */
        overflow-y: auto;
    }
}

@media (max-width: 38rem) {
    .container {
        height: auto;
        min-height: calc(var(--vh) * 85); /* Adjusted for dynamic vh */
        margin-top: calc(var(--vh) * 10); /* Adjusted for dynamic vh */
        padding-bottom: calc(var(--vh) * 5); /* Adjusted for dynamic vh */
        overflow-y: auto;
    }
}
